[Unit]
Description=Fans 20
After=network-online.target.wants
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/bin/bash /etc/systemd/user/libexec/ipmitool.sh

[Install]
WantedBy=multi-user.target
