[Unit]
Description=Fans 20
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/ipmitool.sh

[Install]
WantedBy=multi-user.target
